Repository pwrdrvr/lambda-dispatch, pull requests merged in 2024-04, with the labels that each got.

#145 Issue 26/multiple dispatch pools
  .gitignore
  .vscode/launch.json
  .vscode/tasks.json
  DEVELOPMENT.md
  extension/src/app_request.rs
  extension/src/lambda_request.rs
  extension/src/lambda_service.rs
  extension/src/messages.rs
  extension/src/ping.rs
  extension/src/prelude.rs
  extension/src/router_channel.rs
  fargate.template.yaml
  src/PwrDrvr.LambdaDispatch.Messages/Waiter.cs
  src/PwrDrvr.LambdaDispatch.Router/Areas/ControlChannels/Controllers/ChunkedController.cs
  src/PwrDrvr.LambdaDispatch.Router/Config.cs
  src/PwrDrvr.LambdaDispatch.Router/Dispatcher.cs
  src/PwrDrvr.LambdaDispatch.Router/GetCallbackIP.cs
  src/PwrDrvr.LambdaDispatch.Router/IncomingRequestMiddleware.cs
  src/PwrDrvr.LambdaDispatch.Router/LambdaArnParser.cs
  src/PwrDrvr.LambdaDispatch.Router/LambdaConnection.cs
  src/PwrDrvr.LambdaDispatch.Router/LambdaInstance.cs
  src/PwrDrvr.LambdaDispatch.Router/LambdaInstanceManager.cs
  src/PwrDrvr.LambdaDispatch.Router/MetadataService.cs
  src/PwrDrvr.LambdaDispatch.Router/Pool.cs
  src/PwrDrvr.LambdaDispatch.Router/PoolManager.cs
  src/PwrDrvr.LambdaDispatch.Router/PoolOptions.cs
  src/PwrDrvr.LambdaDispatch.Router/Program.cs
  src/PwrDrvr.LambdaDispatch.Router/PwrDrvr.LambdaDispatch.Router.csproj
  src/PwrDrvr.LambdaDispatch.Router/Startup.cs
  test/Directory.Build.props
  test/PwrDrvr.LambdaDispatch.Extension.Tests/PwrDrvr.LambdaDispatch.Extension.Tests.csproj
  test/PwrDrvr.LambdaDispatch.Router.Tests/Areas/ControlChannels/Controllers/ChunkedControllerTests.cs
  test/PwrDrvr.LambdaDispatch.Router.Tests/ConfigTests.cs
  test/PwrDrvr.LambdaDispatch.Router.Tests/DispatcherTests.cs
  test/PwrDrvr.LambdaDispatch.Router.Tests/GetCallbackIPTests.cs
  test/PwrDrvr.LambdaDispatch.Router.Tests/LambdaInstanceManagerTests.cs
  test/PwrDrvr.LambdaDispatch.Router.Tests/LambdaInstanceTests.cs
  test/PwrDrvr.LambdaDispatch.Router.Tests/LeastOutstandingQueueTests.cs
  test/PwrDrvr.LambdaDispatch.Router.Tests/MetadataServiceTests.cs
  test/PwrDrvr.LambdaDispatch.Router.Tests/PendingRequestTests.cs
  test/PwrDrvr.LambdaDispatch.Router.Tests/PoolManagerTests.cs
  test/PwrDrvr.LambdaDispatch.Router.Tests/PoolOptionsTests.cs
  test/PwrDrvr.LambdaDispatch.Router.Tests/PoolTests.cs
  test/PwrDrvr.LambdaDispatch.Router.Tests/PwrDrvr.LambdaDispatch.Router.Tests.csproj
  test/PwrDrvr.LambdaDispatch.Router.Tests/StartupTests.cs
  test/PwrDrvr.LambdaDispatch.Router.Tests/WeightedAverageTests.cs
Labels: area-extension, area-router

#190 Extract bits from router channel
  extension/src/main.rs
  extension/src/relay.rs
  extension/src/router_channel.rs
  extension/src/utils/mod.rs
Labels: area-extension

#193 Issue 178 - App Connection Pool
  Cargo.lock
  extension/Cargo.toml
  extension/src/app_request.rs
  extension/src/app_start.rs
  extension/src/connect_to_app.rs
  extension/src/endpoint.rs
  extension/src/lambda_request.rs
  extension/src/lambda_service.rs
  extension/src/main.rs
  extension/src/router_channel.rs
Labels: area-extension

#196 Issue-142 - Router Connection Pool
  Cargo.lock
  extension/Cargo.toml
  extension/src/app_client.rs
  extension/src/app_request.rs
  extension/src/app_start.rs
  extension/src/cert.rs
  extension/src/connect_to_router.rs
  extension/src/lambda_request.rs
  extension/src/lambda_service.rs
  extension/src/main.rs
  extension/src/ping.rs
  extension/src/router_channel.rs
  extension/src/router_client.rs
  extension/src/test_http2_server.rs
  extension/src/test_mock_router.rs
Labels: enhancement, area-extension
